// $fontFamily: "Inter", sans-serif;
// $fontFamily: 'Figtree Variable', sans-serif;
$fontFamily: "Google Sans", sans-serif;
// $fontFamily: -apple-system, BlinkMacSystemFont, "SF Pro Text", "SF Pro Display", system-ui, sans-serif;
// $fontFamily: "Poppins", sans-serif;
