/* @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap'); */
@import "./styles/theme.css";
html,
body,
#root {
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
}


* {
  /* font-family: "Inter", sans-serif; */
    font-family: 'Figtree Variable', sans-serif;
  /* letter-spacing: 0.8px; */
  color: #191919;
}

body {
  margin: 0;
  background: #ffffff;
}

.page-wrapper {
  height: 100%;
  width: 100%;
  max-width: 100%;
  margin: 0 0;
}

::-webkit-scrollbar {
  width: 2.7px;
}

::-webkit-scrollbar:horizontal {
  height: 8px;
}

::-webkit-scrollbar-thumb:horizontal {
  background-color: #bcbcbc;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}
